@keyframes move-ani {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(300px, 0);
    background-color: aquamarine;
    opacity: 0.3;
  }

  100% {
    transform: translate(500px, 300px);
  }
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  background-color: #fff000;
  // animation: move-ani 3s linear infinite alternate-reverse; //무한반복 왕복
  animation: move-ani 3s linear forwards; //끝났을때 끝지점에
  &:hover {
    animation-play-state: paused; //마우스 호버시에만 멈추게
  }
}
